* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 1rem;
  width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 2px solid black;
  font-size: 2rem;
}

.item-box {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  display: grid;
  align-items: center;
  justify-content: center;
}

footer {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  text-align: center;
  background-color: #f5f5f5;
}

.d1::backdrop,
.d2::backdrop {
  position: fixed;
  backdrop-filter: blur(2px);
}

.d1,
.d2 {
  width: 50%;
  text-align: center;
}

.d0::backdrop {
  background-color: white;
}

.d0 {
  border: none;
  text-align: center;
}

input {
  border: none;
}

input {
  text-align: center;
  font-size: 1.5rem;
  width: 200px;
}

.d0 h1 {
  font-size: 3rem;
}

.player1 {
  background-color: red;
  border-radius: 0.3rem;
  color: white;
  padding: 5px;
}

.player2 {
  background-color: blue;
  border-radius: 0.3rem;
  color: white;
  padding: 5px;
}

form {
  display: flex;
  gap: 20px;
}

.one,
.two {
  position: relative;
}

.material-symbols-outlined {
  position: absolute;
  bottom: 7px;
  left: 5px;
}

.start {
  font-size: 3rem;
  padding: 10px 20px;
  border: none;
  background-color: lightgreen;
  border-radius: 0.3rem;
}

.start:hover {
  background-color: green;
}

.track_scores {
  display: flex;
  gap: 10rem;
  font-size: 2rem;
}

.track_scores > div:first-child::after {
  content: ": X";
  color: black;
  font-weight: bold;
}

.track_scores > div:last-child::after {
  content: ": O";
  color: black;
  font-weight: bold;
}

.restart {
  margin: 10px;
  padding: 10px 20px;
  background-color: lightblue;
  border: none;
  border-radius: 0.2rem;
}

.restart:hover {
  background-color: blueviolet;
}
